@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --black: #131313;
    --yellow: #fff200;
    --red: #ED0101;
    --blue: #0E49B5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Header */
header {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    visibility: hidden;
}

#mainMenu,
form,
#playground {
    background-color: var(--black);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    /* Main Menu */
    .display,
    .status {
        border: 2px solid black;
    }

    & button.startBtn,
    #mainMenu .gameTitle {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        font-weight: 600;
        border: 2px solid black;
        background-color: antiquewhite;
    }

    #mainMenu .startBtn {
        grid-column: 1/4;
        font-weight: bolder;
        font-style: italic;
        text-transform: uppercase;
        background-color: var(--black);
        color: var(--yellow);
        outline: 2px solid var(--yellow);
    }

    /* Board */
    #mainMenu,
    #board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        padding: 10px;
        border-radius: 10px;
        width: 500px;
        height: 500px;
    }

    #board button {
        height: auto;
        font-weight: bold;
        font-size: 6rem;
        text-align: center;
        border-radius: 10px;
        background-color: antiquewhite;
        color: antiquewhite;
        outline: none;
        border: none;
    }

    /* Form */
    & form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        padding: 10px;
        border-radius: 10px;
        width: 500px;
        height: 500px;

        & input,
        button {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            background-color: antiquewhite;
            outline: none;
            border: none;
        }

        & input#name1 {
            grid-row: 1/2;
            border-radius: 10px;
        }

        & input#name2 {
            grid-row: 2/3;
            border-radius: 10px;
        }

        & p {
            position: absolute;
            margin-top: 135px;
            margin-left: 210px;
            font-size: 2.5rem;
            font-weight: bold;
            background: linear-gradient(to right, var(--red), var(--blue));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & button {
            grid-row: 3/4;
            border-radius: 10px;
            font-size: 3rem;
            font-weight: bold;
            font-style: italic;
            text-transform: uppercase;
            background-color: var(--black);
            color: var(--yellow);
            outline: 1px solid var(--yellow);
        }
    }

    /* Board playground */
    #playground {
        width: 500px;
        height: 500px;
        border-radius: 10px;

        .result {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            border-radius: 10px;
            width: 500px;
            height: 500px;

            & h2 {
                font-weight: 600;
                font-size: 3rem;
            }

            .display {
                grid-row: 1/2;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: antiquewhite;
            }

            .status-container {
                grid-row: 2/3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 5px;

                .status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: antiquewhite;
                }
            }

            & button {
                grid-row: 3/4;
                padding: 10px;
                border-radius: 10px;
                font-size: 3rem;
                font-weight: bold;
                font-style: italic;
                text-transform: uppercase;
                background-color: var(--black);
                color: var(--yellow);
                outline: 1px solid var(--yellow);
            }
        }
    }

    /* Controller */
    .controller {
        position: relative;
        height: 50px;
        display: flex;
        margin-top: 20px;
        gap: 20px;

        & button {
            padding: 10px;
            width: 150px;
            border-radius: 20px;
            font-weight: 500;
        }
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;

    & a {
        text-decoration: none;
        color: inherit;
    }
}

/* ============= */
/* Keyframes & Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        top: -1000px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -1000px;
    }
}

@keyframes slideUp {
    0% {
        top: 0;
    }

    100% {
        top: -1000px;
    }
}

/* Player bg-color keyframes */
@keyframes redWin {
    0% {
        left: -50%;
    }

    100% {
        left: 0%;
    }
}

@keyframes redLose {
    0% {
        left: -50%;
    }

    100% {
        left: -100%;
    }
}

@keyframes blueWin {
    0% {
        right: -50%;
    }

    100% {
        right: 0%;
    }
}

@keyframes blueLose {
    0% {
        right: -50%;
    }

    100% {
        right: -100%;
    }
}

@keyframes resetRedWin {
    0% {
        left: 0%;
    }

    100% {
        left: -50%;
    }
}

@keyframes resetRedLose {
    0% {
        left: -100%;
    }

    100% {
        left: -50%;
    }
}

@keyframes resetBlueWin {
    0% {
        right: 0%;
    }

    100% {
        right: -50%;
    }
}

@keyframes resetBlueLose {
    0% {
        right: -100%;
    }

    100% {
        right: -50%;
    }
}

/* Slider screen */
.slider,
.sliderUp {
    position: absolute;
    top: 0px;
    height: 100dvh;
    width: 100dvw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}

.slider {
    animation: slide 2s forwards;
}

.sliderUp {
    animation: slideUp 2s forwards;
}

/* Animation class */
.fadeIn-delay {
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

.fadeInLong {
    animation: fadeIn 1.8s forwards;
}

.fadeInOut {
    animation: fadeInOut 2s forwards;
}

/* Player animation */
.red,
.blue {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: -99;
}

.red {
    background-color: var(--red);
    left: -50%;
}

.blue {
    background-color: var(--blue);
    right: -50%;
}

.redWin {
    animation: redWin 1s forwards;
}

.blueWin {
    animation: blueWin 1s forwards;
}

.redLose {
    animation: redLose 1s forwards;
}

.blueLose {
    animation: blueLose 1s forwards;
}

.resetRedWin {
    animation: resetRedWin 1s forwards;
}

.resetRedLose {
    animation: resetRedLose 1s forwards;
}

.resetBlueWin {
    animation: resetBlueWin 1s forwards;
}

.resetBlueLose {
    animation: resetBlueLose 1s forwards;
}

.redBg {
    background-color: var(--red);
}